build/visualc10/client/Debug/
build/visualc10/client/Release/
build/visualc10/server/Debug/
build/visualc10/server/Release/
utility/Bonako/Bonako.DFPN/obj/
utility/Bonako/Bonako/dist/Bonako_
utility/Bonako/Bonako/dist/Bonako_*/
utility/Bonako/Bonako/bin/
utility/Bonako/Bonako/obj/
build/visualc10/Debug/
build/visualc10/ipch/
*.sdf
*.opensdf
*.userprefs
utility/Bonako/Bonako/dist/Bonako_*.zip
build/visualc10/client/log/
